.website-status.error {
	background-color: red !important;
	color: #fff; 
}

.website-status.error:hover > .ab-item {
	background-color: #bd2b2b !important;
	color: #fff !important; 
}

.website-status.success {
	background-color: green !important;
	color: #fff; 
}

.website-status.success:hover > .ab-item {
	background-color: #3b7d3b !important;
	color: #fff !important; 
}

.website-status.progress {
	background-color: orange !important;
	color: #fff; 
}

.website-status.progress:hover > .ab-item {
	background-color: #c38b23 !important;
	color: #fff !important; 
}
